<div *ngIf="jokes; else elseBlock">
  <div class="container-fluid vw-100 my-4 gy-3">

    <div class="row row-cols-1 justify-content-center align-content-center my-3">

      <div class="col text-center">
        {{jokes.joke}}
      </div>
    </div>

    <div class="row justify-content-center align-content-center" >
      <div class="col-3 text-center">
        <button class="btn btn-primary container" (click)="handleAnother()">get another</button>
      </div>

    </div>

  </div>
</div>

<ng-template #elseBlock>
  <span class="container text-center">Loading....</span>
</ng-template>